.card{
    border : 1px solid;
    width : 500px;
    height : 700px;
    display: flexbox;
    background-color: whitesmoke;
    padding: 100px;
    border-bottom: 0px;
}

.card h1 {
    font-size: 30px;
    align-content: center;
    line-break: auto;
}
.productName {
    font-size: 20px;
    align-items: center;
    line-break: auto;
    

}
.productId{
 font-size: 12px;
 font-style: bold;
}
